.snippets .snippet { 
	padding: 5px; 
	box-shadow: 1px 1px 2px #333; 
}

.snippets li {
	margin-top: 10px;
	list-style: none;
}
.file-explorer {
	margin: 0px;
	width: 100%;
}
.file-explorer li{
	list-style: none;
	border-bottom: 1px solid #AAA;
}

/* Fix because of 'affix' feature */
.row-fluid.affix-fixed .span2.affix:first-child {  width: 19.148936170212764%; }
.row-fluid.affix-fixed .span2.affix:last-child {margin-left: 83.9%; }
.container-fluid.no-border {
	padding-left: 0px;
}