{% extends 'IgaBuilderBundle::layout.html.twig' %}
{% block extra %}
  <script src="{{ asset('bundles/igabuilder/js/editor.js') }}"></script>
{% endblock %}
{% block nav %}
<ul class="nav">
            <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Generate <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#entityGeneratorModal" role="button" data-toggle="modal">Entity</a></li>
                        </ul>
                </li>
</ul>
{% endblock %}
{% block container %}
    <div class="container-fluid no-border">
      <div class="row-fluid affix-fixed">
        <div class="span2" data-spy="affix">
          {% block left %}
            {% render 'IgaBuilderBundle:Editor:explorer' with {'namespace':namespace,'name':name} %}
          {% endblock %}
          <br>
          {% if app.session.hasFlash('message') %}
          <div class="alert alert-success">
            {{ app.session.getFlash('message') }}
          </div>
          {% endif%}
        </div>
        <div class="span8 offset2">
          {% block panel %}
          <div class="hero-unit">
            <h1>Bienvenido!</h1>
            <p>En construcción...</p>
          </div>
          
          {% endblock %}
          <br>
        </div><!--/span-->
        <div class="span2" data-spy="affix">
          <br>
          {% block right %}
          <h4>Inspector</h4>
          {% endblock %}
          <hr>
            {% render 'IgaBuilderBundle:Snippet:index' %}
        </div>
      </div><!--/row-->

    </div><!--/.fluid-container-->
    {% endblock %}
{% block modals %}
{% render 'IgaBuilderBundle:Generator:entity' with {'namespace':namespace,'name':name} %}
{% endblock %}